.btn-pagination {
    background-color: white !important;
    border: 1px solid;
    padding: 6px 1rem;
}

.btn-pagination-control {
    background-color: white !important;
    border: 1px solid;
    padding: 6px 1rem;
    margin: 0 5px;
}

.btn-pagination:focus,
.btn-pagination-control:focus,
.btn-pagination:active {
    background-color: #17A2B8 !important;
    color: white;
    font-weight: bold;
}